dist
node_modules
lib
package-lock.json
*-debug.log
**/.env*
!**/.env.sample
.firestorerc
cache
**/.DS_Store
mock-email.html
secrets.*.json
firebase-export-**
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
coverage
*.lcov
.vscode
.idea
